<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property scope="context"
              name="message.pattern"
              value="${message.pattern:-%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{35} - %msg%n}"/>
    <property scope="context" name="logging.dir" value="${logging.dir:-${catalina.base:-.}/logs/${app.name:-.}}"/>
    <property scope="context" name="max.file.size" value="${max.file.size:-10MB}"/>
    <property scope="context" name="max.history" value="${max.history:-30}"/>
    <property scope="context" name="total.size.cap" value="${total.size.cap:-0}"/>
    <property scope="context" name="async.appender.queue.size" value="${async.appender.queue.size:-1000}"/>

    <!-- including plain properties -->
    <include optional="true" file="${${configDir.parameter}:-./config}/properties.logback.xml"/>

    <!-- including distribution properties (JDBC url etc.) 
    <include optional="true" resource="distribution.properties.logback.xml"/>-->

    <!-- including extra setup properties (distribution customizations) 
    <include optional="true" file="${${configDir.parameter}:-./config}/setup.properties.logback.xml"/>-->

    <appender name="COMMON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.dir}/common.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${max.file.size}</maxFileSize>
            <maxHistory>${max.history}</maxHistory>
            <totalSizeCap>${total.size.cap}</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>${message.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${message.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="COMMON" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="COMMON_FILE"/>
        <queueSize>${async.appender.queue.size}</queueSize>
        <neverBlock>true</neverBlock>
    </appender>

    <include optional="true" resource="included.logback.xml"/>
    <include optional="true" file="${${configDir.parameter}:-./config}/logback.xml"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="COMMON"/>
    </root>

</configuration>